<div class="col-sm-4 col-md-4 col-lg-4"></div>
<div class="col-sm-4 col-md-4 col-lg-4 text-center">
  <h1>Login</h1>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="input-group ">
      <span
        class="input-group-addon glyphicon glyphicon-envelope"
        id="basic-addon1"
      ></span>
      <input
        class="form-control"
        required
        [(ngModel)]="credentials.email"
        type="email"
        placeholder="e-mail"
        name="email"
        #email="ngModel"
      />
    </div>
    <div class="input-group">
      <span
        class="input-group-addon glyphicon glyphicon-asterisk"
        id="basic-addon2"
      ></span>
      <input
        class="form-control"
        required
        [(ngModel)]="credentials.password"
        name="password"
        #password="ngModel"
        type="password"
        placeholder="password"
      />
    </div>
    <div class="form-group">
      <select
        class="form-control"
        required
        [(ngModel)]="credentials.clientType"
        name="clientType"
        #clientType="ngModel"
      >
        <option disabled hidden [value]="undefined"
          >Please select client type</option
        >
        <option *ngFor="let x of ['Customer', 'Company', 'Admin']" [value]="x">
          {{ x }}</option
        >
      </select>
    </div>
    <button
      type="submit"
      [disabled]="loginForm.form.invalid"
      class="btn btn-primary"
    >
      login
    </button>
  </form>
  <span class="help-block" *ngIf="message">{{ message }}</span>
</div>
<div class="col-sm-4 col-md-4 col-lg-4"></div>
